* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,9,121,1) 40%, rgba(66,101,151,1) 100%);
}

.slider {
    display: grid;
    grid-template-rows: 70% 1fr;
    grid-template-columns: 1fr 35%;
    width: 40vw;
    height: 60vh;
    overflow: hidden;
}

.slider__radio {
    display: none;
}

.slider__viewport {
    display: flex;
    width: 98%;
    height: 95%;
    /*overflow-x: auto;*/
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
    gap: 0.5rem;
}

.slider__viewport--large {
    grid-column-end: span 2;
}

.slider__viewport::-webkit-scrollbar {
    display: none;
}

.slider__slide {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5%;
    align-items: center;
    transition: transform 0.5s;
}

.slider__slide--leftpadded {
    padding-top: 0;
    padding-left: 10%;
    justify-content: flex-start;
}

.slider__image {
    display: block;
    border-radius: 5px;
    max-width: 95%;
    max-height: 95%;
    flex-shrink: 1;
    object-fit: cover;
    -webkit-box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.95);
}

.slider__text {
    line-height: 150%;
    padding: 0.2rem;
    margin: 0;
    flex-shrink: 0;
    color: #d3d5d7;
    background-color: #050517;
    border-radius: 5px;
    justify-self: start;
    align-self: start;
    -webkit-box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.95);
}

.slider__controls {
    padding-right: 10%;
    height: 1.5em;
    justify-self: end;
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.slider__controls__button {
    padding: 0.3rem;
    flex-shrink: 1;
}

.slider__controls__button__inner {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #050517;
    border: 1px solid #d3d5d7;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.95);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s,
    -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
}

.slider__controls__button:hover{
    cursor: pointer;
}

.slider__controls__button:hover .slider__controls__button__inner{
    background-color: #d3d5d7;
}
.slider__controls__button:active .slider__controls__button__inner{
    background-color: #d3d5d7;
    transform: scale(0.9);
}

.slider__radio#slc1:checked ~ .slider__controls .slider__controls__button[for="slc1"] .slider__controls__button__inner {
    background-color: #d3d5d7;
    border-color: #050517;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
}

.slider__radio#slc2:checked ~ .slider__controls .slider__controls__button[for="slc2"] .slider__controls__button__inner {
    background-color: #d3d5d7;
    border-color: #050517;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
}

.slider__radio#slc3:checked ~ .slider__controls .slider__controls__button[for="slc3"] .slider__controls__button__inner {
    background-color: #d3d5d7;
    border-color: #050517;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
}

.slider__radio#slc4:checked ~ .slider__controls .slider__controls__button[for="slc4"] .slider__controls__button__inner {
    background-color: #d3d5d7;
    border-color: #050517;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
}

.slider__radio#slc5:checked ~ .slider__controls .slider__controls__button[for="slc5"] .slider__controls__button__inner {
    background-color: #d3d5d7;
    border-color: #050517;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
}
.slider__radio#slc6:checked ~ .slider__controls .slider__controls__button[for="slc6"] .slider__controls__button__inner {
    background-color: #d3d5d7;
    border-color: #050517;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.95);
}

.slider__radio#slc1:checked ~ .slider__viewport#sl1 .slider__slide{
    transform: translateX(0);
}

.slider__radio#slc2:checked ~ .slider__viewport#sl1 .slider__slide{
    transform: translateX(calc(-100% - 0.5rem));
}
.slider__radio#slc3:checked ~ .slider__viewport#sl1 .slider__slide{
    transform: translateX(calc(-200% - 1rem));
}
.slider__radio#slc4:checked ~ .slider__viewport#sl1 .slider__slide{
    transform: translateX(calc(-300% - 1.5rem));
}
.slider__radio#slc5:checked ~ .slider__viewport#sl1 .slider__slide{
    transform: translateX(calc(-400% - 2rem));
}
.slider__radio#slc6:checked ~ .slider__viewport#sl1 .slider__slide{
    transform: translateX(calc(-500% - 2.5rem));
}

.slider__radio#slc1:checked ~ .slider__viewport#sl2 .slider__slide{
    transform: translateX(0);
}

.slider__radio#slc2:checked ~ .slider__viewport#sl2 .slider__slide{
    transform: translateX(calc(-100% - 0.6rem));
}
.slider__radio#slc3:checked ~ .slider__viewport#sl2 .slider__slide{
    transform: translateX(calc(-200% - 1.2rem));
}
.slider__radio#slc4:checked ~ .slider__viewport#sl2 .slider__slide{
    transform: translateX(calc(-300% - 1.8rem));
}
.slider__radio#slc5:checked ~ .slider__viewport#sl2 .slider__slide{
    transform: translateX(calc(-400% - 2.4rem));
}
.slider__radio#slc6:checked ~ .slider__viewport#sl2 .slider__slide{
    transform: translateX(calc(-500% - 3rem));
}